<div ng-controller="anuncioController"> 	
	<h1>Cadastro de anúncio</h1>
	<p class="help-block">
		Preencha o formulário abaixo e clique em "Publicar grátis".<br /> 
 	   	Os campos marcados com asterisco (*) são obrigatórios 
 	</p>
	<form class="form-horizontal" ng-submit="submitAnuncio(anuncio, 'message')">
		<div class="form-group">				
  			<div id="messages" class="alert alert-success" data-ng-show="messages" data-ng-bind="messages"></div>
  			<div id="error" class="alert alert-danger" data-ng-show="error" data-ng-bind="error"></div>
  		</div>
  		
	  <div class="form-group">
	  	<input type="hidden" name="id" class="form-control" ng-model="anuncio.id">
	  	
		<label for="itCategoria" class="col-sm-2 control-label">Categoria:</label>
		<div class="col-sm-10">
			<select id="itCategoria" class="form-control" ng-model="anuncio.categoria" ng-options="categoria.nmcategoria for categoria in categorias">
			  <option value="">-- selecione uma categoria --</option>
			</select>            
		</div>
	  </div>
	  
	  <div class="form-group">
		<label for="itTitulo" class="col-sm-2 control-label">Título do anúncio:</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control" id="itTitulo" placeholder="Título do anúncio" ng-model="anuncio.titulo">
		</div>
	  </div>      
      
      <div class="form-group">
		<label for="itDescricao" class="col-sm-2 control-label">Descrição*:</label>
		<div class="col-sm-10">
			<textarea class="form-control" rows="10" id="itDescricao" placeholder="Vendo uma TV de 32 polegadas ... " ng-model="anuncio.descricao"></textarea>		
		</div>
	  </div>
      
      <div class="form-group">      
		<label for="itPreco" class="col-sm-2 control-label">Preço à negociar:</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon">R$</span>
		  		<input type="text" class="form-control" id="itPreco" ng-model="anuncio.preco">
		  	</div>
		</div>
	  </div>
      
	  <hr />
	  
      <!-- Upload fotos -->            
	  <div ng-controller="uploadController">	  	
			<h1>Fotos do anúncio</h1>
			<p class="help-block">
				Adicione fotos ao seu anúncio e ganhe muito mais visibilidade. 
		 	</p>
		 	
			<div class="form-group">	  
			  	<label class="col-sm-2 control-label">Fotos produto:</label>
			  			  
				<div class="col-sm-10">
				  <div>
					  <div class="drop">
						<span class="btn btn-default" style="position: relative; overflow: hidden; direction: ltr;">
			               <i class="glyphicon glyphicon-plus"></i>
			               <span>Add fotos...</span>
			               <input type="file" file-model="myFile" name="foto" accept="image/*"                	
			               		style="height: 72px; position: absolute; right: 0px; top: 0px; opacity: 0;">
			               </input>
			           </span>
			           <button ng-click="uploadFile()" class="btn btn-primary start">
			                <i class="glyphicon glyphicon-upload"></i>
			                <span>Enviar</span>                
			            </button>
			            
			            <span>
			            	{{myFile.name}}
			            </span>
					  </div>
					<br />
					<!-- As imagens aparecerao aqui -->				
					<div ng-repeat="foto in fotos" class="gallery-box">
					  <!-- <span class="title ng-binding">{{foto.nmfoto}}</span>  -->
					  <div class="thumbnail" >
						<img src="upload/tmp/{{foto}}" alt='Foto de exibição'/>
					  </div>			  
					  <div class="btn-group">
						<a class="btn btn-xs btn-danger" ng-click="removeFoto(cdanuncio, status, foto, $index)">
						  Remover
						</a>
					  </div>
					</div><!-- end ngRepeat: foto in fotos -->
					<div class="clear"></div>
				 </div>		
				</div>
		    </div>
	  </div>
	  <!-- Fim upload fotos -->
	  
	  <hr />
	  
	  <h1>Suas informações</h1>
	  
	  <div class="form-group">
		<label for="itNomeContato" class="col-sm-2 control-label">Nome de contato*:</label>
		<div class="col-sm-10">
		  <input type="text" class="form-control" id="itNomeContato" ng-model="anuncio.nome">
		</div>
	  </div>
	
	  <div class="form-group">
		<label for="itEmail" class="col-sm-2 control-label">E-mail*:</label>
		<div class="col-sm-10">
		  <div class="input-group">
			  <span class="input-group-addon">@</span>
			  <input type="text" class="form-control" id="itEmail" placeholder="Ex.: fulano@gmail.com" ng-model="anuncio.email">
		  </div>
		</div>
	  </div>
	  
	  <div class="form-group">
		<label for="itTelefone" class="col-sm-2 control-label">Telefone:</label>
		<div class="col-sm-10">
			<div class="input-group">
				<span class="input-group-addon glyphicon glyphicon-phone"></span>
		  		<input type="text" class="form-control" id="itTelefone" placeholder="(00) 0000 0000" ng-model="anuncio.telefone">
		  	</div>
		</div>
	  </div>
	  
	  <div ng-controller="estadosController">
	  	  
		  <div class="form-group">
			<label for="itEstado" class="col-sm-2 control-label">Estado:</label>	  	
			<div class="col-sm-10">
				<select id="itEstado" class="form-control" ng-model="anuncio.estado"
					ng-options="estado.nome for estado in estados">
				  <option value="">-- selecione o estado --</option>
				</select>
			</div>
		  </div>
		  
		  <div class="form-group">
			<label for="itCidade" class="col-sm-2 control-label">Cidade:</label>
			<div class="col-sm-10">
			   <select id="itCidade" class="form-control" ng-model="anuncio.cidade" 
			   		ng-options="cidade.nome for cidade in cidades | cidades: anuncio.estado">
				  <option value="">-- selecione a cidade --</option>
			   </select>
			</div>
		  </div>
		  
	  </div>
	  <hr />
	  <div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
		  <button type="submit" class="btn btn-success btn-lg">Publicar grátis</button>
		</div>
	  </div>
	</form>
</div>